alias l="/bin/ls -l --almost-all --color=always --file-type --human-readable --group-directories-first"
alias v="vim"
alias v.="vim ."
alias tmux="tmux -2"
alias auu='apt-get update && apt-get upgrade'
