[user]
	name = sainaen
	email = sainaen@gmail.com
[color]
	ui = always                        # always use colours
[core]
	editor = vim                       # editor
	excludesfile = ~/.gitignore_global # global .gitignore file
	fileMode = false                   # ignore file rights changes
	autocrlf = false
	eol = lf
[merge]
	summary = true                     # add commits summary when merging
	tool = meld                        # use meld as mergetool
[push]
	# 'git push' will push the current branch to its tracking branch, even if
	# upstream branch's name is different from the local one
	default = upstream
[pretty]
	complete = %C(yellow)%h %C(green)%d %C(reset)%s %C(cyan)%cn%C(reset) %C(bold black)%ar
[alias]
# Log
	l = log --oneline --format=complete
	lg = log --oneline --format=complete --graph
	ll = log --format=complete --all
	llg = log --format=complete --all --graph
	lp = log --patch -1 # latest commit patch
# Common aliases
	co = checkout
	st = status --short --branch
	a = add --interactive
	au = add --update
	aa = add --all
	c = commit
	ca = commit --amend
	r = reset
	rh = reset --hard
	pf = push --force
	d = diff
	dc = diff --staged
	dt = !git-diffall
	mf = merge --no-ff --edit
	mt = mergetool
	rc = rebase --continue
# Branches
	br = branch --verbose
	bra = branch --verbose --all           # all branches
	brm = branch --verbose --delete           # delete branch
# Stash
	sl = stash list
	ss = stash save --include-untracked # Stash untracked files too
	sa = stash apply
# Ignore
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep '^[a-z]'
# Undo
	uc = reset --soft HEAD^
# List all aliases
	la = "!git config -l | grep alias | cut -c 7-"
[help]
	autocorrect = 1
[credential]
	helper = cache
