[user]
	name = sainaen
	email = sainaen@gmail.com
[color]
	ui = always
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
[alias]
# Log
	lg = log --graph --pretty=format:'%C(yellow)%h %Creset%s %Cblue[%cn]' --decorate
	l = log --pretty=format:'%C(yellow)%h %Creset%s %Cblue[%cn]' --decorate
	ll = log --graph --oneline --decorate --all
	last = log -1 HEAD
	lastf = log -1 --numstat HEAD
	lastdiff = diff --cached --word-diff HEAD^
# Common aliases
	co = checkout
	st = status -s
	a = add -i
	c = commit
	r = reset
	rh = reset --hard
	br = branch
# Stash
	sl = stash list
	ss = stash save
	sa = stash apply
# List all aliases
	la = "!git config -l | grep alias | cut -c 7-"
