#!/usr/bin/env sh

# "rsync for cloud storage"
# https://github.com/rclone/rclone
nix-env -iA unstable.rclone

# "The minimal, blazing-fast, and infinitely customizable prompt for any shell"
# https://github.com/starship/starship
nix-env -iA unstable.starship

# "A modern, maintained replacement for ls"
# https://github.com/eza-community/eza
nix-env -iA unstable.eza

# "Magical shell history"
# https://github.com/atuinsh/atuin
nix-env -iA unstable.atuin

# "A smarter cd command"
# https://github.com/ajeetdsouza/zoxide
nix-env -iA unstable.zoxide
