{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -eu

# allow capturing pakets without running Wireshark from root
sudo /usr/sbin/usermod -aG wireshark sain

# allow current user to use overlayfs for profile-sync-daemon
echo "$USER ALL=(ALL) NOPASSWD: /usr/bin/psd-overlay-helper" | sudo tee /etc/sudoers.d/"${USER}-psd" 2>/dev/null
{{- end }}
