{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -eu

# 1) add 1Password's repository
# https://support.1password.com/install-linux/#debian-or-ubuntu

wget -q https://downloads.1password.com/linux/keys/1password.asc -O- | \
  sudo tee /etc/apt/keyrings/downloads.1password.com.asc > /dev/null

cat <<-EOF | sudo tee /etc/apt/sources.list.d/1password.list > /dev/null 
deb [arch=amd64 signed-by=/etc/apt/keyrings/downloads.1password.com.asc] https://downloads.1password.com/linux/debian/amd64 stable main
EOF

cat <<-EOF | sudo tee /etc/apt/preferences.d/downloads.1password.com.pref > /dev/null
Package: *
Pin: origin downloads.1password.com
Pin-Priority: 100
EOF

sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
wget -q https://downloads.1password.com/linux/debian/debsig/1password.pol -O- | \
  sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol > /dev/null

sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22/
wget -q https://downloads.1password.com/linux/keys/1password.asc -O- | \
  sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg

# 2) install

sudo apt-get update
sudo apt-get install 1password 1password-cli

{{- end }}
