{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -eu

sudo apt update

sudo apt install --no-install-recommends \
  calibre \
  eog \
  eog-plugin-exif-display \
  ffmpegthumbnailer \
  file-roller \
  fonts-noto-color-emoji \
  gimp \
  gnome-calculator \
  gnome-characters \
  gnome-tweaks \
  handbrake \
  heif-thumbnailer \
  inkscape \
  kitty \
  mpv \
  nautilus \
  smplayer \
  wireshark

{{- end }}
