[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Obsidian
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/scalable/apps/obsidian.svg
Exec={{ .chezmoi.homeDir }}/.local/bin/Obsidian.AppImage %u
MimeType=x-scheme-handler/obsidian;text/html;
